*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
display:flex;
justify-content:center;
padding:40px;
color:white;
}

.container{
width:100%;
max-width:500px;
text-align:center;
}

h1{
margin-bottom:20px;
}

.search-box{
display:flex;
gap:10px;
margin-bottom:30px;
}

input{
flex:1;
padding:15px;
border:none;
border-radius:10px;
}

button{
padding:15px;
border:none;
border-radius:10px;
background:#38bdf8;
color:white;
cursor:pointer;
}

#movie{
background:#1e293b;
padding:20px;
border-radius:20px;
}
